# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
.adk/

# IDEs
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store

# Sensitive Data / Credentials
*.pem
*.key
credentials.json
client_secret.json
secret.json
